#menu-hot {
  background-image: url("caffe-retro-assets/hot.jpg");
  background-size: cover;
  background-position: center;
}

#menu-juicy {
  background-image: url("caffe-retro-assets/juicy.jpg");
  background-size: cover;
  background-position: center;
}

#menu-cosy {
  background-image: url("caffe-retro-assets/cosy.jpg");
  background-size: cover;
  background-position: center;
}

section {
  height: 100vh;
}

/* * {
  font-family: "Poiret One", sans-serif;
  font-family: "Spirax", sans-serif;
} */

header {
  /* center the text and set opacity purple */
  position: fixed;
  top: 0;
  width: 100%;
  font-family: "spirex", sans-serif;
text-align: center;
;
  background-color: rgba(128, 0, 128, 0.7);
  padding: 1em;
  font-size: 1.2rem;

}

header h1 .highlight {
  color: #ff0000; /* Adjust the color to match the design */
}

.menu-highlight h2 {
  background-color: rgba(255, 0, 0, 0.7);
  display: inline-block;
  padding: 0.5em;
}

.menu-highlight p {
  background-color: rgba(255, 0, 0, 0.7);
  display: inline-block;
  padding: 0.5em;
}

.menu {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 10px;
}

.menu-item {
  margin-bottom: 1em;
}

.menu-item h3 {
  font-size: 1.5em;
  color: #fff;
}

.menu-item p {
  font-size: 1.2em;
  color: #fff;
}
